<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write a new chat</title>
</head>
<body>
    
    <h3>Write a new chat..</h3>

    <form action="/chats" method="POST" >
          <input  name="from" placeholder="who are you">
     <br><br>
          <textarea name="msg" placeholder="write a messege"></textarea>
      <br><br>
      <input  name="to" placeholder=" add reciver">
       <br> <br> 
       <button>Create chat</button>
    </form>
</body>
</html>